<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mat och sovklockan!</title>
        <meta name="description" content="Din bebis i siffror :)" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- import the webpage's stylesheet -->
        <link rel="stylesheet" href="/style.css" />
        <link rel="manifest" href="/manifest.webmanifest" />
        <!-- import the webpage's client-side javascript file -->
        <script src="/helpers.js" defer></script>
        <script src="/graphs.js" defer></script>
        <script src="/details.js" defer></script>
    </head>
    <body>
        <div id="error" class="technical-error" style="display:none">
            <p>
                <strong>Hoppsan!</strong>
                Något gick inte som det skulle :( Kanske försök igen?
            </p>
        </div>
        <header>
            <h1>
                Mat och sovklockan!
            </h1>
        </header>

        <main>
            <p class="bold">Hallå där,</p>

            <p>När åt och sov <span class="babyName"></span> senast?</p>

            <form class="eat">
                <label for="eat">Åt när</label>
                <input
                    id="eat"
                    name="eat"
                    aria-label="ate at"
                    type="datetime-local"
                />
                <button type="submit" id="submit-eat">Skicka</button>
            </form>

            <form class="sleep">
                <label for="sleepFrom">Sov från</label>
                <input
                    id="sleepFrom"
                    name="sleepFrom"
                    aria-label="sleep from"
                    type="datetime-local"
                />
                <label for="sleepTo">Sov till</label>
                <input
                    id="sleepTo"
                    name="sleepTo"
                    aria-label="sleep to"
                    type="datetime-local"
                />
                <button type="submit" id="submit-sleep">Skicka</button>
            </form>

            <div class="stats">
                <h2>
                    Idag
                </h2>
                <h4>åt <span class="babyName"></span>:</h4>
                <ol id="eatToday"></ol>
                <h4>sov <span class="babyName"></span>:</h4>
                <ol id="sleepToday"></ol>
                <h2>
                    Tidigare
                </h2>
                <label for="lookback"> Visa</label>
                <select name="lookback" id="lookback">
                    <option value="7">7 dagar</option>
                    <option value="30">30 dagar</option>
                    <option value="10000">allt</option>
                </select>
                <h4>
                    Sov totalt
                </h4>
                <div id="sleptTotal"></div>
                <h4>
                    Åt totalt
                </h4>
                <div id="ateTotal"></div>
                <h4>
                    Dygnschema
                </h4>
                <div id="daySchedule"></div>
                <h4>
                    Längsta sammanhängande sovtid
                </h4>
                <div id="sleptLongest"></div>
            </div>
        </main>
        <script
            data-goatcounter="https://matochsovklockan.goatcounter.com/count"
            async
            src="//gc.zgo.at/count.js"
        ></script>
    </body>
</html>
