<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mat och sovklockan!</title>
        <meta
            name="description"
            content="Din partner i det datadrivna föräldraskapet :D"
        />
        <link
            id="favicon"
            rel="icon"
            href="https://glitch.com/edit/favicon-app.ico"
            type="image/x-icon"
        />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- import the webpage's stylesheet -->
        <link rel="stylesheet" href="/style.css" />

        <!-- import the webpage's client-side javascript file -->
        <script src="/index.js" defer></script>
    </head>
    <body>
        <div id="error" class="technical-error" style="display:none">
            <p>
                <strong>Hoppsan!</strong>
                Något gick inte som det skulle :( Kanske försök igen?
            </p>
        </div>
        <header>
            <h1>
                Mat och sovklockan!
            </h1>
        </header>

        <main>
            <p class="bold">Hallå,</p>

            <p>
                Mat och sovklockan hjälper dig hålla koll på hur ditt barn äter
                och sover.
            </p>

            <form class="name">
                <label for="babyName">Vad ska vi kalla din bebis</label>
                <input
                    id="babyName"
                    name="babyName"
                    aria-label="name of the baby"
                    type="text"
                    maxlength="40"
                />
                <button type="submit" id="submit-babyName">Skicka</button>
            </form>
            <div id="success" style="display: nonee" ;>
                <h2>Snyggt!</h2>
                <p>
                    Här är länken till din sida. Vem som helst med länken kan
                    redigera tider, och tappar du bort den blir den svår att få
                    tillbaks. Keep it secret, keep it safe.
                </p>
                <a id="detailsLink"
                    >Ja ja, det blir nog bra med det där, ta mig dit bara</a
                >
            </div>
        </main>
    </body>
</html>
